.mybutton{
	-fx-background-color: orange;
	-fx-border-color: orange;
	-fx-text-fill: white;
}

.mytitle{
    -fx-font-family: "HipsterishFontNormal";
    /*-fx-font-family: "Shadows Into Light";*/
    -fx-font-size: 36px;
    
}

.mypane{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1); }

